# === MYSQL (Aiven) ===
MYSQL_HOST=mysql-3486cffb-danielramirezconsultor.k.aivencloud.com
MYSQL_PORT=14473
MYSQL_USER=avnadmin
MYSQL_PASSWORD=REEMPLAZAR_CON_PASSWORD_REAL
MYSQL_DATABASE=ecommerce

# === MOTHERDUCK ===
MOTHERDUCK_TOKEN=REEMPLAZAR_CON_TOKEN_MOTHERDUCK

# === DBT ===
DBT_PROJECT_DIR=/mnt/c/Users/impactales/Documents/GitHub/Integraciondatos/mi_proyeco_dbt
DBT_PROFILES_DIR=/mnt/c/Users/impactales/Documents/GitHub/Integraciondatos/mi_proyeco_dbt

# === PREFECT (opcional) ===
# PREFECT_API_URL=http://localhost:4200/api
# PREFECT_API_KEY=REEMPLAZAR_CON_KEY_PREFECT
